<div class="card-header">
<h3>Login</h3>
</div>


<div class="card-body">

<form class="form col-md-6" #userlogin="ngForm"  (ngSubmit)="userVerify()">

    <div class="form-group">

        <label for="email">Email</label>
        <input type="email" class="form-control" name="username" [(ngModel)]="user.uname" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

    </div>
<br>

<div class="form-group">
  
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  required>
 
</div>

<br>

<button class="btn btn-primary" [disabled]="userlogin.form.invalid">Login</button>

</form>

</div>