<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
    <ul class="navbar-nav navbar-right">

      <a class="nav-link" style="cursor:pointer" routerLink="login" *ngIf="!_auth.loggedin()"   routerLinkActive="active" >LOGIN</a>
      <a class="nav-link" style="cursor:pointer" routerLink="signup" *ngIf="!_auth.loggedin()" routerLinkActive="active" >SIGNUP</a>

        <a class="nav-link" style="cursor:pointer" routerLink="books" *ngIf="_auth.loggedin()" >BOOKS</a>
        <a class="nav-link" style="cursor:pointer" routerLink="addbooks" *ngIf="_auth.loggedin()" >ADD BOOKS</a>
        <a class="nav-link" style="cursor:pointer" routerLink="authors" *ngIf="_auth.loggedin()" >AUTHORS</a>
        <a class="nav-link" style="cursor:pointer" routerLink="addauthors" *ngIf="_auth.loggedin()" >ADD AUTHORS</a>

        <a class="nav-link" style="cursor:pointer"  *ngIf="_auth.loggedin()" (click)="logoutuser()" >LOGOUT</a>
    </ul>
  </div>
</nav>    

<div class="bg"> 

<div class="container">
 <router-outlet></router-outlet>
</div>

</div>